*,
*::before,
*::after {
    box-sizing: border-box;
}
body{
    margin: 0;
}
.timer__items {
    background-color: rgb(222, 217, 217);
    height: 400px;
    display: flex;
  font-size: 90px;
    display: flex;
    justify-content: center;
}

.timer__item {
margin-top:130px;
    position: relative;
    min-width: 80px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    padding: 0;
}

.timer__item:before {
    content: attr(data-title);
    display: block;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    font-size: 32px;
    margin-bottom: 130px;
}

.timer__item:not(:last-child)::after {
    content: ':';
    position: absolute;
    right: -30%;

}