@font-face {
    font-family: Stamper ;
    src: url(font/DS\ Stamper.ttf);
}
@font-face {
    font-family: Octin ;
    src: url(font/OctinVintageBRg\ Bold.ttf);
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
body{
    margin: 0;
}
h2{
 padding-top:50px ;  
 text-align: center;
    margin: 0;
    font-size: 90px;
}
.timer{
      font-family:Stamper,Octin;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(97,125,153,1) 50%, rgba(48,100,111,1) 95%);  
}

.timer__items {
    height: 400px;
  font-size: 90px;
    display:flex;
    justify-content: center;

}

.timer__item {
margin-top:100px;
    position: relative;
    min-width: 100px;
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
    padding: 0;
}

.timer__item:before {
    content: attr(data-title);
    display: block;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    font-size: 32px;
    margin-bottom: 160px;
}

.timer__item:not(:last-child)::after {
    content: ':';
    position: absolute;
    right: -70%;

}